<% if user_signed_in? %>

<h2><%= current_user.name %></h2>
  <% @recipes.each do |r| %>
    <ul>
      <p>
        <li><%= link_to r.name, recipe_path(r.id) %></li> | By: <%= link_to r.user.name, user_path(r.user.id) %>
      </p>
    </ul>
  <% end %>
<% end %>
