
<% if user_signed_in? %>

<h2><%= current_user.name %>'s recipes </h2>
  <% current_user.recipes.each do |r| %>
        <ul>
          <p>
            <li><%= link_to r.name, recipe_path(r.id) %></li> | By: <%= r.user.name %>
          </p>
        </ul>
  <% end %>


<% else %>
      <h2>It looks like you have not posted any recipes yet. Please click the New Recipe on the menu bar.</h2>
<% end %>



