
<h2>Welcome <%= current_user.name %></h2>
<h3>Here's a list of all recipes: </h3><br />
  <% @recipes.each do |recipe| %>
    <ul>
      <p>
        <li><%= link_to recipe.name, recipe_path(recipe.id) %>
      </p>
    </ul>
  <% end %>

