

<h1> Welcome <%= current_user.username %></h1>

<ul>
<li><a href="application/home">Home</a></li>
<li><a href="posts/new">Posts</a></li>
<li><a href="static/about">About</a></li>
</ul>


<%= link_to "New Post", new_user_post_path(current_user.id) %>



<p>Posts:</p>
<%= current_user.posts.each do |post| %>
    <li><a href="posts/show"><%= post.title %></a></li>
<% end %>






