

<h2>Welcome <%= current_user.name %>.</h2>
<h3>Here is a list of all posts: </h3>
  <% @posts.each do |p| %>
    <div class="post">
        <ul>
          <p>
            <li><%= link_to p.title, post_path(p.id) %></li> | By: <%= link_to p.user.name, user_path(p.user.id) %>
          </p>
        </ul>
    </div>
  <% end %>


