

<h2><%= current_user.name %></h2>
  <% @posts.each do |p| %>
    <div class="post">
        <ul>
          <p>
            <li><%= link_to p.title, post_path(p.id) %></li> | By: <%= link_to p.user.name, user_path(p.user.id) %>
          </p>
        </ul>
    </div>
  <% end %>


