<!DOCTYPE html>
<html lang="en">
<head>

  <title>My Wellness Community</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container-fluid">
    <section class="content">
      <div>
      <br>
        <p>
          <strong>My Wellness Community</strong> is a place for people who are focused on living a healthy lifestyle. We can connect with one another and share recipes and post some of our ideas. The wellness community is a growing community consisted of like minded individuals whose focus is to do better for their bodies and the planet. 
        </p>
        <p>
          My Wellness Community App is a Rails web application created by Daniel Carvalho as a portfolio project in association with Flatiron School's Online Software Engineering Program. Used Ruby on Rails to build the application and used the Gem Bootstrap to style it. 
        </p>
      </div>
    </section>

    <% if @posts && !@posts.empty? %>
      <h3>Here's a list of all your posts:</h3>
      <% @posts.each do |post| %>
        <%= link_to post.title, post_path(post) %>
      <% end %> 
    <% end %>

    <% if @recipes && @recipes.empty? %>
      <h3>Here's a list of all your recipes:</h3>
      <% @recipes.each do |r| %>
        <%= link_to r.name, recipe_path(r) %>
      <% end %> 
    <% end %>

  </div>

</body>
</html>